<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>main.html</title>
		
		<link rel="stylesheet" type="text/css" href="/lib/jquery/jquery-ui.min.css" />

		<script type="text/javascript" src="/lib/jquery/jquery-3.5.1.min.js"></script>
		<script type="text/javascript" src="/lib/jquery/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="/demo/main.js"></script>
	</head>
	<body>
		<div>this is main.html</div>
		<div><input type="button" id="webSocketBtn" value="webSocket test page"/></div>
	</body>
</html>